@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --header-height: 61px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility max-w-layout {
  max-width: 64rem;
}

@utility bg-layout {
  @apply bg-zinc-50 dark:bg-black;
}

@utility bg-layout-transparent {
  @apply bg-zinc-50/80 dark:bg-black/80;
}

@utility border-layout {
  @apply border-b border-zinc-200 dark:border-zinc-800;
}

@utility border-none-layout {
  @apply border-b border-transparent;
}
